<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profiler - Login</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body class="bg">
    <div class="nav">
        <h1><a href="/" class="title-login">Profiler</a></h1>
    </div>
    
    <div class="main_div">
        <div class="login_holder">
            <form action="" method="post">
                    <label for="username" class="login-labels">Username</label>
                    <br>
                    <input type="text" name="username" required class="login-centered">
                <br>
                <br>
                    <label for="password" class="login-labels">Password</label>
                    <br>
                    <input type="password" name="password" required class="login-centered">
                <br>
                <br>
                {% if error %}
                    <h5 id="loginInputError" class="login-centered">{{error}}</h5>
                {% endif %}
                <br>
                <input type="submit" value="Login" class="login-centered">
            </form>
            <br>
            <br>
            <p class="login-centered">Dont have an account?</p>
            <br>
            <br>
            <a href="/register" class="login-centered">Register</a>
        </div>
    </div>
</body>
</html>