<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profiler - Your Profile</title>
    <link rel="stylesheet" href="../../static/style.css">
</head>
<body class="bg">
    {% include "navbar.html" %}

    <div class="main_div">
        {% for user in users %}
        {% if user["username"] == looking_at %}
        <div class="profile_holder" style="background-color: #{{ user.backgroundc }};border-color: #{{ user.borderc }};">
            <h1 style="color: #{{ user.textc }};">{{ user["display"] }}</h1>
            <p style="color: #{{ user.textc }};">Followers: {{ user["followers"] }}</p>
            {% if user["username"] != username %}
            {% for me in users %}
            {% if me["username"] == username %}
            {% if user["username"] in me["following"] %}
            <a href="../../unfollow_person/{{ user['username'] }}" class="following-btn">Following</a>
            {% else %}
            <a href="../../follow_person/{{ user['username'] }}" class="follow-btn">Follow</a>
            {% endif %}
            {% endif %}
            {% endfor %}
            {% endif %}
            <br>
            <h3 style="color: #{{ user.textc }};">Bio:</h3>
            <p style="color: #{{ user.textc }};">{{ user["tags"] }}</p>
            <br>
            <h3 style="color: #{{ user.textc }};">Colors:</h3>
            <form action="../../copy_textc/{{ user['username'] }}" method="POST" enctype="multipart/form-data">
                <input type="submit" value="Copy Text Color" class="postButton" style="width: 150px;">
            </form>
            <form action="../../copy_bgc/{{ user['username'] }}" method="POST" enctype="multipart/form-data">
                <input type="submit" value="Set Background Color" class="postButton" style="width: 150px;">
            </form>
            <form action="../../copy_borderc/{{ user['username'] }}" method="POST" enctype="multipart/form-data">
                <input type="submit" value="Set Border Color" class="postButton" style="width: 150px;">
            </form>
        </div>
        {% endif %}
        {% endfor %}
        <br>
        <div class="PostZoneForProfile">
            {% for post in posts | reverse %}
            {% if looking_at == post["user"] %}
            <br>
            <div class="postarea" style="background-color: #{{ post.backgroundc }};border-color: #{{ post.borderc }};">
                {% for user in users %}
                {% if user["username"] == looking_at %}
                <h4 class="PostText" style="color: #{{ post.textc }};">{{ user.display }}</h4>
                {% endif %}
                {% endfor %}
                <h5 class="PostText" style="color: #{{ post.textc }};">{{ post.content }}</h5>
                <img src="/static/data/attachments/{{ post.attachment }}" alt="" class="PostAttachment">
                <br>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</body>
</html>