<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profiler - Register</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body class="bg">
    <div class="nav">
        <h1><a href="{{ url_for('register') }}" class="title-login">Profiler</a></h1>
    </div>

    <div class="main_div">
        <div class="login_holder">
            <form action="" method="post">
                    <label for="" class="login-labels">Username</label>
                <br>
                    <input type="text" name="username" required class="login-centered">
                <br>
                <br>
                <label for="" class="login-labels">Email</label>
                <br>
                    <input type="email" name="email" required class="login-centered">
                <br>
                <br>
                    <label for="" class="login-labels">Password</label>
                <br>
                    <input type="password" name="password" required class="login-centered">
                <br>
                <br>
                <input type="submit" value="Register" class="login-centered">
            </form>
        </div>
    </div>
</body>
</html>